<?xml version="1.0"?>
<launch>
  <rosparam param="use_sim_time">true</rosparam>
  
  <arg name="use_snapshotter" default="true"/>
  <arg name="snapshotter_continuous" default="false"/>
  
  ## Upload Pluto to parameter server
  <include file="$(find pluto_description)/launch/upload_pluto.launch"/>
 
  ##Bringup Joint State Publisher and Robot State Publisher
  <rosparam file="$(find pluto_bringup)/config/joint_state_publisher.yaml" command="load" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
  
  ## Bringup EKF
  <include file="$(find pluto_bringup)/launch/ekf.launch"/>

  ## Bringup Rotunit PS3 Teleop
  <include if="$(arg snapshotter_continuous)" file="$(find uos_rotunit_teleop)/launch/ps3joy.launch"/>
  
  ## Bringup Filter Chain
  <include file="$(find pluto_bringup)/launch/filter_chain.launch"/>

  ## Bringup Rotunit Snapshotter Action Server
  <include if="$(arg use_snapshotter)" file="$(find uos_rotunit_snapshotter)/launch/360_degree_snapshotter.launch">
    <arg name="continuous" value="$(arg snapshotter_continuous)"/>
  </include>

</launch>
