<launch>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true">
      <rosparam command="load" file="$(find pluto_bringup)/config/ekf_rl_odom.yaml" />
  </node>
  <!--<node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    <rosparam command="load" file="$(find pluto_bringup)/config/ekf_rl_map.yaml" />
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node> -->
</launch>
