<?xml version="1.0"?>
<launch>
  <param name="M_PI" value="3.14159265358979323846"/>
  ## Bringup Angle Snapshotter for pizza snapshots
  <node pkg="rotunit_snapshotter" type="snapshotter360" name="angle_snapshotter" output="screen">
    <remap from="assembled_cloud" to="angle_snapshot"/>
    <param name="continuous" value="true"/>
    <param name="rotation_angle" value="${M_PI/4}" />
  </node>
</launch>
