<?xml version="1.0"?>
<launch>
  ## Bringup Pizza Snapshotter
  <node pkg="uos_rotunit_snapshotter" type="uos_rotunit_snapshotter" name="pizza_snapshotter" output="screen">
    <remap from="assembled_cloud" to="pizza_snapshot"/>
    <remap from="rotunit_snapshotter" to="pizza_snapshotter"/>
    <param name="continuous" value="true"/>
    <!-- 45 Grad pizza pieces -> PI/4 = 0.785398... -->
    <param name="rotation_angle" value="0.785398" />
  </node>
</launch>
