<?xml version="1.0"?>
<launch>
  ## Upload robot description
  <include file="$(find pluto_description)/launch/upload_pluto.launch"/>

  ## Launch state publisher
  <rosparam file="$(find pluto_bringup)/config/joint_state_publisher.yaml" command="load"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen"/>

  ## Launch Volksbot driver
  <node name="volksbot" pkg="volksbot_driver" type="volksbot" respawn="false" output="screen">
    <remap from="joint_states" to="volksbot_joint_states"/>
    <param name="wheel_radius" type="double" value="0.103"/>
    <param name="axis_length" type="double" value="0.55"/>
    <param name="gear_ratio" type="int" value="156"/>
  </node>

  ## Launch IMU
  <include file="$(find pluto_bringup)/launch/phidgets_imu.launch"/>

  ## Launch Velodyne
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>

  ## Launch Riegl driver
  <include file="$(find riegl_driver)/launch/riegl_vz400i.launch">
    <arg name="min_range" value="1.0"/>
    <arg name="address" value="192.168.178.35"/>
  </include>

  ## Launch hyperspectral camera
  <include file="$(find hyperspectral_calibration)/launch/colorize_cloud.launch">
    <arg name="use_rgb_only" value="false"/>
  </include>

  ## Launch robot localization
  <include file="$(find pluto_bringup)/launch/ekf_rl.launch"/>

  ## Launch move_base_flex
  <include file="$(find mesh_navigation)/launch/navigation.launch"/>

  ## Launch reconstruction
  <include file="$(find lvr_ros)/launch/reconstruction.launch"/>

  ## Launch map server
  <node name="mesh_map_server" pkg="mesh_map_server" type="mesh_map_server" output="screen"/>

  ## Launch point cloud server
  <node name="pointcloud_server" pkg="pointcloud_server" type="pointcloud_server" output="screen"/>

  ## Launch teleop
  <!-- <include file="$(find pluto_bringup)/launch/ps3joy.launch"/> -->

  ## Launch battery life
  <!-- <include file="$(find battery_life)/launch/battery_life.launch"/> -->

  ## Launch levers
  <include file="$(find pluto_levers)/launch/lever.launch"/>
</launch>
