<?xml version="1.0"?>
<launch>
  <arg name="input" default="/home/amock/pluto_bagfiles/2017-11-09-20-07-17.bag" />
  <rosparam param="use_sim_time">true</rosparam>

  <include file="$(find pluto_description)/launch/upload_pluto.launch"/>
  <rosparam file="$(find pluto_bringup)/config/joint_state_publisher.yaml" command="load" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen" />
  <node pkg="rosbag" type="play" name="player" output="screen" args=" --clock  -r 1  $(arg input)"/>

  <include file="$(find pluto_bringup)/launch/ekf_rl.launch"/>
  <include file="$(find loam_velodyne)/launch/hector_loam_velodyne.launch" />

</launch>

