<?xml version="1.0"?>
<launch>

  <arg name="device" default="/dev/scanner"/>
  <arg name="topic" default="scan"/>
  <arg name="frame" default="laser"/>

  <node pkg="sicktoolbox_wrapper" type="sicklms" name="sicklms_$(arg frame)" output="screen">
    <remap from="scan" to="$(arg topic)"/>
    <param name="port" value="$(arg device)" />
    <param name="frame_id" value="$(arg frame)" />
    <param name="baud" value="500000" />
    <param name="resolution" value="1.0" />
  </node>

</launch>
