*.h5 filter=lfs diff=lfs merge=lfs -text
*.ply filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
pluto_navigation/maps/botanical_garden_osnabrueck/botanical_garden_osnabrueck_sideview.png filter=lfs diff=lfs merge=lfs -text
pluto_navigation/maps/physics_campus_westerberg/physics_campus_westerberg_experiment_2_vfp.png filter=lfs diff=lfs merge=lfs -text
pluto_navigation/maps/physics_campus_westerberg/physics_campus_westerberg_experiment_1_vfp.png filter=lfs diff=lfs merge=lfs -text
pluto_navigation/maps/physics_campus_westerberg/physics_campus_westerberg_experiment_3_vfp.png filter=lfs diff=lfs merge=lfs -text
pluto_navigation/maps/physics_campus_westerberg/physics_campus_westerberg_sideview.png filter=lfs diff=lfs merge=lfs -text
pluto_navigation/maps/stone_quarry_brockum/stone_quarry_brockum_sideview.png filter=lfs diff=lfs merge=lfs -text
pluto_navigation/maps/botanical_garden_osnabrueck/botanical_garden_osnabrueck_experiment_1_vfp.png filter=lfs diff=lfs merge=lfs -text
pluto_navigation/maps/botanical_garden_osnabrueck/botanical_garden_osnabrueck_experiment_2_vfp.png filter=lfs diff=lfs merge=lfs -text
pluto_navigation/maps/botanical_garden_osnabrueck/botanical_garden_osnabrueck_experiment_3_vfp.png filter=lfs diff=lfs merge=lfs -text
pluto_navigation/maps/botanical_garden_osnabrueck/botanical_garden_osnabrueck_experiment_4_vfp.png filter=lfs diff=lfs merge=lfs -text
pluto_navigation/maps/farmers_pit_stemwede/farmers_pit_stemwede_experiment_1_vfp.png filter=lfs diff=lfs merge=lfs -text
pluto_navigation/maps/farmers_pit_stemwede/farmers_pit_stemwede_experiment_2_vfp.png filter=lfs diff=lfs merge=lfs -text
pluto_navigation/maps/farmers_pit_stemwede/farmers_pit_stemwede_experiment_3_vfp.png filter=lfs diff=lfs merge=lfs -text
pluto_navigation/maps/farmers_pit_stemwede/farmers_pit_stemwede_experiment_4_vfp.png filter=lfs diff=lfs merge=lfs -text
pluto_navigation/maps/stone_quarry_brockum/stone_quarry_brockum_experiment_1_vfp.png filter=lfs diff=lfs merge=lfs -text
pluto_navigation/maps/stone_quarry_brockum/stone_quarry_brockum_experiment_2_vfp.png filter=lfs diff=lfs merge=lfs -text
pluto_navigation/maps/stone_quarry_brockum/stone_quarry_brockum_experiment_3_vfp.png filter=lfs diff=lfs merge=lfs -text
pluto_navigation/maps/stone_quarry_brockum/stone_quarry_brockum_experiment_4_vfp.png filter=lfs diff=lfs merge=lfs -text
pluto_navigation/maps/market_garden_ibbenbueren/market_garden_ibbenbueren_inner_experiment_1_vfp.png filter=lfs diff=lfs merge=lfs -text
