<?xml version="1.0"?>
<launch>
  <arg name="rviz" default="false" />
  <arg name="dataset" default="physics_campus_westerberg" />
  <arg name="dir" default="maps/$(arg dataset)" />
  <arg name="map_file" default="$(arg dir)/$(arg dataset).h5" />
  <arg name="map_config" default="$(arg dir)/$(arg dataset)_map.yaml" />
  <arg name="nav_config" default="$(arg dir)/$(arg dataset)_nav.yaml" />
  <arg name="part" default="mesh" />
  <arg name="planner_patience" default="10"/>

  <node name="move_base_flex" pkg="mbf_mesh_nav" type="mbf_mesh_nav" output="screen">
    <rosparam command="load" file="$(find pluto_navigation)/$(arg nav_config)"/>
    <rosparam command="load" ns="mesh_map" file="$(find pluto_navigation)/$(arg map_config)"/>
    <param name="planner_patience" value="$(arg planner_patience)"/>
    <param name="mesh_map/mesh_file" value="$(find pluto_navigation)/$(arg map_file)" />
    <param name="mesh_map/mesh_part" value="$(arg part)"/>
  </node>

  <!-- SMACH Navigation State Machine -->
  <node pkg="pluto_navigation" type="navigation_sm.py" name="navigation_smach" output="screen"/>
  
  <!-- RViz with config -->
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find pluto_navigation)/rviz/mesh_navigation.rviz" />

</launch>
