pluto(){
  . ${PLUTO_WORKSPACE}/devel/setup.bash
  cd ${PLUTO_WORKSPACE}
}

network-lan(){
	export ROS_HOSTNAME=${HOSTNAME}.informatik.uni-osnabrueck.de
	export ROS_MASTER_URI="http://${ROS_HOSTNAME}:11311"
}

network-wlan(){
	export ROS_HOSTNAME=${HOSTNAME}.funky.uni-osnabrueck.de
	export ROS_MASTER_URI="http://${ROS_HOSTNAME}:11311"
}

network-local(){
  export ROS_HOSTNAME=${HOSTNAME}
	export ROS_MASTER_URI="http://${ROS_HOSTNAME}:11311"
}

start-robot11(){
  wakeonlan -i 10.42.0.1 28:d2:44:2c:97:58
}

robot11lan(){
  export ROS_HOSTNAME=${HOSTNAME}.informatik.uni-osnabrueck.de
  export ROS_MASTER_URI="http://robot11.informatik.uni-osnabrueck.de:11311"
}

robot11wlan(){
  export ROS_HOSTNAME=${HOSTNAME}.informatik.uni-osnabrueck.de
  export ROS_MASTER_URI="http://robot11.funky.uni-osnabrueck.de:11311"
}

robot11local(){
  export ROS_HOSTNAME=${HOSTNAME}
  export ROS_MASTER_URI="http://robot11:11311"
}
