<?xml version="1.0"?>
<launch>
  <include file="$(find pluto_gazebo)/launch/botanical_garden.launch"/>
  <include file="$(find pluto_gazebo)/launch/pluto_gazebo_common.launch">
    <arg name="x" value="-2.5"/>
    <arg name="y" value="0.34"/>
    <arg name="z" value="-1.25"/>
    <arg name="yaw" value="-1.55"/>
  </include>
</launch>
