<?xml version="1.0"?>
<launch>
  <!-- Robot pose -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>
  
  <!-- Upload Pluto urdf to parameter server -->
  <include file="$(find pluto_description)/launch/upload_pluto.launch"/>

  <!-- Push robot_description to factory and spawn robot in gazebo -->
  <include file="$(find pluto_gazebo)/launch/spawn_pluto.launch">
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>
    <arg name="roll" value="$(arg roll)"/>
    <arg name="pitch" value="$(arg pitch)"/>
    <arg name="yaw" value="$(arg yaw)"/>
  </include>

  <!-- EKF -->
  <include file="$(find pluto_gazebo)/launch/robot_pose_ekf.launch"/>

  <!-- GPS -->
  <!-- <include file="$(find pluto_bringup)/launch/gps_rl.launch"/> -->

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="100.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

  <!-- Default Controllers -->
  <rosparam command="load" file="$(find pluto_gazebo)/config/joint_state_controller.yaml" />
  <!-- Joint State Publisher -->
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>

  <!-- Fake calibration -->
  <node pkg="rostopic" type="rostopic" name="fake_joint_calibration"
    args="pub /calibrated std_msgs/Bool true" />

</launch>
